

/* 所有元素 */
*{
    /* 邊框-bd */
    border: 0.5px solid rgba(255, 0, 0, 0);
    /* 字型-ff */
    font-family:微軟正黑體;
    /* 字體顏色-c#xxx */
    color:#ffff;
    margin: 0;
    padding: 0;
}

body{
    /* 高度 h100p */
    height: 100%;
    /* 背景圖片 bgi */
    background: url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80");
    /*背景大小 bgz */
    background-size:cover; 

}

/* 盒子區塊 */
#box{
    /* background-color:rgba(0,0,0,0.3); */
    height:500px;
    width: 700px;
    margin: 100px auto 0 auto;
}
/* 導覽列區塊 */
#logo {
    /* 字體大小 fz2e */
    font-size: 2em;
    
}

nav a {
    /* 邊框底部 bdb */
    border-bottom: 1.5px solid #fff;
    /* 內距 p */
    padding: 10px 0;
}

a {
    /* 文字裝飾 td */
    text-decoration: none;
}

nav div{
    float:right;
}

/* hover 滑入 */
nav a:hover{
background-color: rgba(255,0,0,0.1);
}

/* 內容區塊 */
#content {
   margin-top: 50px;
    width: 50%;
}

#content a {
    border: 0.5px solid #fff;
    padding: 10px 15px;
    background-color: rgba(255, 0, 0, 0.2);
    margin-top: 50px;
}

#content a:hover {
    background-color: rgba(255, 0, 0, 0);
}
/* 按扭區塊 */
#button{
    text-align: center;
    margin-top:50px;
}
#button a{
    border: 0.5px solid #fff;
    padding: 10px 15px;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 50%;
    /* 行內區塊 dib */
    display: inline-block;
}

#button a.button-mr {
    margin-right: 100px;
}

#button a:hover{
    background-color:rgba(255, 0, 0, 0);
}

footer{
    background-color: rgba(47, 81, 112, 0.4);
    /* 定位：固定 psf */
    position: fixed;
    /* 底部距離 0 b0 */
    bottom: 0;

    width: 100%;
    height: 60px;
    text-align: center;
    /* 行高與高度相同：垂直至中，僅限一行內容 */
    line-height: 60px;

}
